@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;

  
}
html {
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

body {
  margin: 0;
  font-family: "Poppins,san serif";
  font-size: 17px;
  height: 100%;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f6f6;

}


/*
.address{
  border: 1px solid #d3cfcf;
  margin-top: 50px;
  width: 700px;
  height: 400px;
  background: url('eko.png');
}
.addCont{
  margin: 48px;
}*/
.cont{
  display: flex;
  background-color: #c1d7df;
}
/* Button Style */
.lets-talk-button {
  background-color: #0094c7;  
  border: none;                
  padding: 5px 8px;          
  border-radius: 50px;          
  cursor: pointer;            
  display: inline-block;       
   
  transition: background-color 0.3s, transform 0.3s ease; /* Smooth transition */
  text-align: center;          
}
.newAlign{
  margin-left: 210px;
  margin-right: 0px;
}
.logo{
  margin-left: 8rem;
}

/* Change the link style inside the button */
.lets-talk-button {
  color: white;              
  text-decoration: none;      
  display: block; 
  padding: 15px 30px;
  border: none;
  z-index: 1;
  border-radius: 12px;
  position: relative;
  outline: none;
  overflow: hidden;
 


}
@keyframes glow {
  0%{
    box-shadow: 0 0 10px #0094c7, 0 0 20px #0094c7;
  }
  50%{
    box-shadow: 0 0 20px #8abcdb, 0 0 30px #8abcdb;
  }
  100%{
    box-shadow: 0 0 10px #0094c7, 0 0 20px #0094c7;
  }
}
@keyframes rotate {
      from{
        transform: rotate(-360deg);
      }
      to{
        transform: rotate(360deg);
      }
}

/* Hover effect for the button */
.lets-talk-button:hover {
  background-color: #0094c7;  
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgba(62, 179, 241, 0.8);
  animation:glow 3s linear infine, rotate 5s linear infinite;
      
}

/* Active effect for when the button is pressed */
.lets-talk-button:active {
  background-color: #159dca; 
  transform: scale(0.98);     
  opacity: 0.9;               
}


.paraServices{
  font-size: 17px;
  font-weight: lighter;
  color: #0b0a0a;
  letter-spacing:0.1rem;

}



.cursor-trail {
  mix-blend-mode: luminosity;
  background: #fd7b7e;
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  animation: fadeOut 0.2s ease-out forwards;
}

.cursor-trail-static {
  mix-blend-mode: luminosity;
  background: #fd7b7e;
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  /* animation: fadeOut 0.2s ease-out forwards; */
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 0.8;
  }


  to {
    transform: scale(0.05);
    opacity: 0;
  }
}

li a {
  transition: all 0.3s ease-in-out;
}

.services li {
  background-color: #fa615c;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-sizing: border-box;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  min-height: 357px;
  width: 100%;
}



.carousel {

  ul {


    li {
      transition: all 0.3s ease-in-out;
    }
  }
}

.caro-next {
  display: block;
  animation: animate-caro-next 0.3s linear;
}

.caro-show {
  display: block;
  animation: animate-caro-show 0.3s linear;
}

.caro-leaving {
  animation: animate-caro-leaving 0.3s linear;
  display: none;
  /* transform: translateX(-1000px); */
}

@keyframes animate-caro-show {
  from {
    opacity: 0%;
    /* transform: translateX(-1000px); */
  }

  to {
    opacity: 100%;
    /* transform: translateX(0px); */
  }
}

@keyframes animate-caro-next {
  from {
    opacity: 0%;
    transform: translateX(1000px);
  }

  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes animate-caro-leaving {
  from {
    opacity: 100%;
    transform: translateX(0px);
    display: block;
  }

  to {
    opacity: 0%;
    transform: translateX(-1000px);
    display: none;
  }
}

button {
  transition: all 0.3s ease-in-out;
}



/*  */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.line {
  background-color: #333;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.sidemenu {
  animation: animate-sidemenu 0.5s linear;
}

@keyframes animate-sidemenu {
  from {
    right: 0;
    /* transform: translateX(1000px); */
  }

  to {
    left: 0
      /* transform: translateX(0px); */
  }
}
.footer_body{
  display: flex;
  justify-content: space-between;
}
.all_components{
  display: flex;
  justify-content: space-between;

}
.component_1{
  margin-left:30px;
  line-height:30px;
  
}
.component_2{
  line-height:30px;
  
}
.copyRight{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}
.copyRight_sub{
  display: flex;
  justify-content: space-between;
}

.about_sec{
  margin-bottom: 50px;
  background-color: #fbfdfd;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding-bottom: 30px;
  border-radius: 12px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
}
.about_sub{
  margin: 40px;
}

.how{
  margin-bottom: 50px;
  background-color: #fbfdfd;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  padding-bottom: 30px;
  border-radius: 12px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
}
.how_sub{
  margin: 40px;
}
.Our_mission{
  margin-bottom: 50px;
  background-color: #fbfdfd;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  padding-bottom: 30px;
  border-radius: 12px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
}
.Our_main{
  margin: 40px;
}